*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
     -moz-box-sizing: inherit;
         -box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
         -box-sizing: border-box;
}

body {
  font-family: 'Open Sans', helvetica, sans-serif;
  font-size: 1.6rem;
}

@font-face {
  font-family: 'poppins-regular';
  src: url("assets/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: 'poppins-semibold';
  src: url("assets/fonts/Poppins-SemiBold.ttf");
}

body {
  font-family: poppins-regular;
  font-size: 1.6rem;
  background-color: var(--body-bg);
}

::root {
  --body-bg: #fdf1e2;
  --main-color: #7d5050;
}

